// @mixin box-shadow-2($args1, $args2) {
//     -webkit-box-shadow: $args1, $args2;
//     -moz-box-shadow: $args1, $args2;
//     box-shadow: $args1, $args2;
// }

//@mixin transition($delay) {
//  -webkit-transition: $delay;
//  -moz-transition: $delay;
//  -o-transition: $delay;
//  -ms-transition: $delay;
//  transition: $delay;
//}

@mixin transition($prop) {
  -webkit-transition: $prop;
  -moz-transition: $prop;
  -ms-transition: $prop;
  -o-transition: $prop;
  transition: $prop;
}