//Your project specific variables
//$primary-color: color("blue", "lighten-3");
//$primary-color: color("cyan", "lighten-2");
$primary-color: color("light-blue", "accent-3");
$sidenav-item-height: 37.5px;
$sidenav-bg-color: color('blue-grey', 'darken-4');